.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #555;
    padding-top: 20px;
    color: #EEE;
    text-align: center;
}
