#profile {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
    height: var(--profile-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    margin-bottom: 20%;
}

#logout {
    width: 80%;
    background-color: #555;
    border: 1px solid #EEE;
    color: #EEE;
}

#logout > button {
    width: 100%;
    border: none;
    background-color: #555;
    color: #EEE;
    cursor: pointer;
}

#profile-username {
    margin-bottom: 0;
}
