.App {
  --header-height: 50px;
}

.main {
  margin-top: var(--header-height);  
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#sidebar {
    --profile-height: 10%;
    --room-creation-form-height: 30%;
    --max-room-list-height: 60%;

    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: var(--header-height);
    left: 0;
    background-color: #555;
    padding-top: 20px;
    color: #EEE;
    text-align: center;
}

